<div class="login-outer">
    <div class="login-img"></div>
    <div class="login-rgt">
        <div class="login-cnt m-auto">
            <img src="../../../../assets/images/login-logo.png" alt="Logo" />
            <div>
                <h1 class="txt-blue font-weight-light pt-5 pb-2">Login</h1>
                <form class="ng-invalid ng-touched ng-dirty" [formGroup]="loginFrm">
                    <div class="form-group">
                        <label for="username" class="required">Username</label>
                        <input type="text" class="form-control" formControlName="username" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">
                                Username is required.
                            </div>
                            <div *ngIf="f.username.errors.pattern">
                                Invalid Email Address
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="required">Password</label>
                        <input type="password" class="form-control" formControlName="password" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">
                                Password is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label ml-15px"><input type="checkbox" class="form-check-input"
                                formControlName="remember">
                            Remember Me
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-orange" (click)="onLogin()" appNoDblClick
                            #loginButton>LOGIN</button>
                        <a routerLink="/forgotPassword" class="btn btn-link float-right mt-2">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>