.login-outer {
    display: table;
    width: 100%;
    height: 100%
}

.login-img {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    background-image: url(../../../../../assets/images/login-bg.png), linear-gradient(to bottom, #ff7100 0%, #ff7100 100%);
    background-position: center right;
    background-repeat: no-repeat
}

.login-rgt {
    display: table-cell;
    width: 50%;
    vertical-align: middle
}

.login-cnt {
    width: 330px;
    position: relative
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .login-img {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .login-img {
        display: none;
    }
}

.form-group {
    margin-bottom: 1rem
}

.btn:hover {
    color: #212529 !important;
    text-decoration: none !important
}